<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 form">
      <ul class="nav nav-pills">
        <li routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact:true}"
        ><a data-toggle="pill" routerLink="/">Home</a></li>
        <li routerLinkActive="active"><a data-toggle="pill" routerLink="user">User</a></li>
      </ul>
      
      <div class="tab-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
</div>
